<div class="cookie-banner__modal">
  <div class="header">
    <div class="title">
      <h4><%= t('.title') %></h4>
    </div>
    <div class="description">
      <p> <%= t('.description') %> </p>
    </div>
  </div>

  <div class="content">
    <!-- Ici tableau & activation / deactivation cookies -->
    <div class="explanation">
      <div class="title">
        <h4><%= t('.explanation.title') %></h4>
      </div>

    </div>
    <div class="control">
      <div class="title">
        <h4><%= t('.control.title') %></h4>
      </div>
    </div>
  </div>
</div>

