.linked_assemblies {
  display: flex;
  flex-direction: column;
  text-align: center;

  .linked_assembly {
    display: inline-block;
    font-size: .8rem;
    color: $secondary;
    margin-bottom: 0.8rem;
  }
}
