<ul class="tags tags--initiative">
  <% if resource.area %>
    <li><%= link_to(translated_attribute(resource.area_name), initiatives_path(filter: { area_id: [resource.area.id] })) %></li>
  <% end %>
  <% if resource.archived? %>
    <li>
      <%= link_to(archive_category_name(resource), initiatives_path(filter: { state: [archive_category_name(resource)] })) %>
    </li>
  <% end %>
</ul>
