.table-list__actions{
  .action-icon{
    &--running{
      color: $warning-color !important;
    }
    &--completed{
      color: $success-color !important;
    }

    &.action-icon--disabled{
      color: rgba($muted, .3);
      vertical-align: bottom;
    }

    &.action-icon--highlighted{
      color: $warning-color;
      vertical-align: bottom;
    }

    &-wrapper{
      display: inline-block;
    }

    .action-icon{
      &--pseudomize{
        &:hover{
          button{
            cursor: pointer;
          }

          svg{
            color: $primary-color;
          }
        }

        &:focus{
          button{
            cursor: pointer;
          }

          svg{
            color: $primary-color;
          }
        }
      }
    }
  }
}
