.table-list__actions{
  .action-icon{
    &.action-icon--disabled{
      color: rgba($muted, .3);
      vertical-align: bottom;
    }

    &.action-icon--highlighted{
      color: $warning-color;
      vertical-align: bottom;
    }

    &.action-icon--pseudomize{
      display: inline-block;

      &:hover{
        button{
          cursor: pointer;
        }
        svg{
          color: $primary-color;
        }
      }

      &:focus{
        button{
          cursor: pointer;
        }

        svg{
          color: $primary-color;
        }
      }
    }
  }
}
