.cookie-banner{
  z-index: 999;
  position: fixed;
  bottom: 0px;
  background: $medium-gray;
  padding: .5em 1em;
  text-align: center;
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);

  a{
    color: darken($anchor-color, 10%);
  }
}

.cookie-banner__action{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .button{
    background-color: $primary-color;
    margin: .5em 0;
  }

  .cookie-banner__more-informations {
    text-decoration: underline;
    cursor: pointer;
  }
  @include breakpoint(mediumlarge){
    flex-direction: row;
    justify-content: space-around;

    .button{
      margin: 0 0 0 1em;
    }
  }
}

.cookie-banner__modal {
  .header {
    .title {
      color: $primary-color;
      text-align: center;
    }
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    & > div {
      // Explanation table & cookies activation / deactivation
      flex: 1;
      width: 100%;
      .title {
        text-align: center;
      }
    }

    .explanation {
      .content {
        overflow-y: visible;
      }
    }

    .control {
      .cookie-control {
        .activation-control {
          display: flex;

          .activated_cc_message {
            padding-right: 1rem;
          }

          .control-description {
            max-width: 90%;
          }
        }
      }

      .switch-paddle {
        border-radius: 30px;

        .switch-inactive {
          right: 22%;
        }

        .switch-active {
          left: 20%;
        }
        &::after {
          border-radius: 50%;
        }
      }
    }

    @include breakpoint(large){
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      .control {
        padding-left: 1rem;
      }
    }
  }
}
