.logs {
  overflow: auto;
  height: 80vh;
  display: flex;

  pre {
    display: flex;
    flex-direction: column-reverse;
  }

  &_button {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .active {
      background-color: $secondary;
    }

    .download_log {
      &:hover {
        background-color: $secondary;
      }
    }
  }

  &_search {
    padding-bottom: 1em;

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    form {
      display: flex;
      flex-direction: row;

      .field {
        width: 100%;
        margin-right: .5rem;

        input {
          height: 100%;
        }

        &.active {
          input {
            font-style: italic;
          }
        }
      }
    }
  }
}

#logs_search__reset {
  &.hidden {
    display: none;
  }

  margin-left: .5rem;
  background-color: $secondary;
}
